<style>
    .avatar{
      padding:0px 0px 0px 0px;
      border-radius: 50%; 
    }
    .avatar img{
      height: 150px;
      width: auto;
    }

</style>
    	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Categorias</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Mais Vendidos
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Semanal</a></li>
											<li><a href="#">Mensal</a></li>
											<li><a href="#">Anual </a></li>
											
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#mens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Pré-Venda
										</a>
									</h4>
								</div>
								<div id="mens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<% @categories.each do |category| %>
												<li><a href="#"><%= category.name %></a></li>
											<% end %>
										</ul>
									</div>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Lançamentos
										</a>
									</h4>
								</div>
								<div id="womens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<% @categories.each do |category| %>
												<li><a href="#"><%= category.name %></a></li>
											<% end %>
										</ul>
									</div>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Auto-Ajuda</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Educacional</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Ficção</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">HQ's</a></h4>
								</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Idiomas</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Infantil</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Literatura</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Não-Ficção</a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#">Romance</a></h4>
								</div>
							</div>
						</div><!--/category-products-->
						
						
					
				</div>
				
				
			</div>
		</div>
	</section>
	


<% @books.each do |book| %>
    <% if book.available_quantity >= 1 %>
    	<p class="avatar">
    	<%= image_tag book.avatar.url(:large) %>
		</p>
        <h2> Nome: <%= book.name %> </h2>
        <p> Autor: <%= book.author.name %> </p>
        <p> Preço: <%= book.price %> </p>
        <p> Sinopse: <%= book.description %> </p>
        <%= link_to 'Show', book %> <!-- mudar para a pg buy -->
        <button type="button">Adicionar à estante</button><br>
    <% end %>

<% end %>