<p id="notice"><%= notice %></p>

<h1>Estantes</h1>














<div class="container">
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Livros</th>
        <th>Usuário</th>   
       
      </tr>
    </thead>
    <tbody>
        <% @shelves.each do |shelf| %>
      <tr>
        <td><%= shelf.book.name %></td>
        <td><%= shelf.user.name %></td>
        <td><%= link_to(shelf) do %><strong>Comprar</strong><% end %></td>
        <td><%= link_to(edit_shelf_path(shelf)) do %><strong>Editar</strong><% end %></td>
        <td><%= link_to 'Destroy', shelf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    
</div>




<div class="container">
  

  <button type="button" class="btn btn-primary btn-lg">
    <%= link_to 'Criar estante', new_shelf_path %>
    </button>
  
</div>
  
  

<br>

















<table>
  <thead>
    <tr>
      <th>Books</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shelves.each do |shelf| %>
      <tr>
        <td><%= shelf.books %></td>
        <td><%= shelf.user_id %></td>
        <td><%= link_to 'Show', shelf %></td>
        <td><%= link_to 'Edit', edit_shelf_path(shelf) %></td>
        <td><%= link_to 'Destroy', shelf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Shelf', new_shelf_path %>
