
<p id="notice"><%= notice %></p>

<h1></h1>


<div class="container">
  <h2>Authors List</h2>
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Lastname</th>
        <th>Action</th>
       
      </tr>
    </thead>
    <tbody>
        <% @authors.each do |author| %>
          <tr>
            <td><%= author.name %></td>
            <td><%= author.lastname %></td>
            <td><%= link_to 'Show', author %> <br>
            <% if logged_in? && current_user.adm == true %>
              <%= link_to 'Edit', edit_author_path(author) %><br>
              <%= link_to 'Destroy', author, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </tr>
        <% end %>
    </tbody>
  </table>
    
</div>




<div class="container">
  

  <button type="button" class="btn btn-primary btn-lg">
    <%= link_to 'Adicionar autor', new_author_path %>
    </button>
  
</div>
  
  

<br>





