<style>
    .avatar{
      padding:0px 0px 0px 0px;
      border-radius: 50%; 
    }
    .avatar img{
      height: 150px;
      width: auto;
    }

</style>

<p id="notice"><%= notice %></p>

  
<div class="container">
  <h2>New Author</h2>
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Lastname</th>
      </tr>
    </thead>
    <tbody>
       
          <tr>
            <td><%= @author.name %></td>
            <td><%= @author.lastname %></td>
          </tr>
        
    </tbody>
  </table>
    
</div>
    
    
      <div class="actions"><left>
        <%= link_to 'Edit', edit_author_path(@author) %> |
        <%= link_to 'Back', authors_path %>
        </left>
      </div>

<% @books.each do |book| %>
  <% if book.author.id == @author.id %>
    <p class="avatar">
       <button onclick="window.location.href='/books/<%= book.id %>'"><%= image_tag book.avatar.url(:large) %></button>
    </p>
  <% end %>
<% end %>
  