<p id="notice"><%= notice %></p>

<h1>Usuários</h1>
<div class="container">
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Sobrenome</th>
        <th>Idade</th>
        <th>E-mail</th>
        <th>Tel</th>
        <th>CPF</th>
        <th>Sexo</th>
        <th>CEP</th>
        <th>Endereço</th>
        <th>Adm</th>
       
      </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.lastname %></td>
        <td><%= user.age %></td>
        <td><%= user.email %></td>
        <td><%= user.tel %></td>
        <td><%= user.cpf %></td>
        <td><%= user.sex %></td>
        <td><%= user.cep %></td>
        <td><%= user.address %></td>
        <td><%= user.adm %></td>
        <td><%= link_to(user) do %><strong>Ver</strong><% end %></td>
        <td><%= link_to(edit_user_path(user)) do %><strong>Editar</strong><% end %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    
</div>




<div class="container">
  

  <button type="button" class="btn btn-primary btn-lg">
    <%= link_to 'Adicionar usuário', new_user_path %>
    </button>
  
</div>
  
  

<br>
