<p id="notice"><%= notice %></p>

<h1>Editoras</h1>




<div class="container">
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
       
      </tr>
    </thead>
    <tbody>
        <% @publishers.each do |publisher| %>
      <tr>
        <td><%= publisher.name %></td>
        <td><%= link_to(publisher) do %><strong>Ver</strong><% end %></td>
        <td><%= link_to(edit_publisher_path(publisher)) do %><strong>Editar</strong><% end %></td>
        <td><%= link_to 'Destroy', publisher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    
</div>




<div class="container">
  

  <button type="button" class="btn btn-primary btn-lg">
    <%= link_to 'New Publisher', new_publisher_path %>
    </button>
  
</div>
  
  

<br>



