<style>
    .avatar{
      padding:0px 0px 0px 0px;
      border-radius: 50%; 
    }
    .avatar img{
      height: 150px;
      width: auto;
    }

</style>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publisher.name %>
</p>

<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>

<% @books.each do |book| %>
  <% if book.publisher.name == @publisher.name %>
    <p class="avatar">
       <button onclick="window.location.href='/books/<%= book.id %>'"><%= image_tag book.avatar.url(:large) %></button>
    </p>
  <% end %>
<% end %>
