
<p id="notice"><%= notice %></p>

<h1>Livros</h1>


<div class="container">
  <h2>Books List</h2>
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
      <th>Autor</th>
      <th>Preço</th>
      <th>Quantidade disponível</th>
      <th>Categoria</th>
      <th>Editora</th>
      <th>Sinopse</th>
       
      </tr>
    </thead>
    <tbody>
        <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author.name %></td>
        <td><%= book.price %></td>
        <td><%= book.available_quantity %></td>
        <td><%= book.category.name %></td>
        <td><%= book.publisher.name %></td>
        <td><%= book.description %></td>
        <td><%= link_to(book) do %><strong>Comprar</strong><% end %></td>
        <td><%= link_to(edit_book_path(book)) do %><strong>Editar</strong><% end %></td>
        <td><%= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    
</div>




<div class="container">
  

  <button type="button" class="btn btn-primary btn-lg">
    <%= link_to 'New Book', new_book_path %>
    </button>
  
</div>
  
  

<br>
