<style>
    .avatar{
      padding:0px 0px 0px 0px;
      border-radius: 50%; 
    }
    .avatar img{
      height: 300px;
      width: auto;
    }

</style>

<p id="notice"><%= notice %></p>

<p class="avatar">
    <%= image_tag @book.avatar.url(:large) %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Quantidade disponível:</strong>
  <%= @book.available_quantity %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @book.category_id %>
</p>

<p>
  <strong>Autor:</strong>
  <%= @book.author_id %>
</p>

<p>
  <strong>Editora:</strong>
  <%= @book.publisher_id %>
</p>

<p>
  <strong>Sinopse:</strong>
  <%= @book.description %>
</p>

<% if logged_in? && @book.available_quantity > 0 %>

  <div class="row">
	  <label for="name">Nome do destinatário:</label><br />
		  <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
  </div><br>
  <div class="row">
	  <label for="name">CEP:</label><br />
		  <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
  </div><br>
  <div class="row">
	  <label for="name">Telefone do destinatário:</label><br />
		  <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
  </div><br>
  <div class="row">
	  <label for="name">Endereço do destinatário:</label><br />
		  <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
  </div><br>
  <div class="row">
	  <label for="name">E-mail do comprador:</label><br />
		  <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
  </div><br>
  <div class="row">
	  <label for="name">CPF do comprador:</label><br />
		  <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
  </div><br>
  <div class="row">
	  <label for="name">Nome do comprador:</label><br />
		  <input id="name" class="input" name="name" type="text" value="" size="30" /><br />
  </div><br>
  <%= link_to 'Buy', buy_path(@book) %>
  <%= link_to 'Buy', @book, method: :post %>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
