<style>
    .avatar{
      padding:0px 0px 0px 0px;
      border-radius: 50%; 
    }
    .avatar img{
      height: 150px;
      width: auto;
    }

</style>

<p id="notice"><%= notice %></p>

<p class="avatar">
    <%= image_tag @book.avatar.url(:large) %>
</p>

<p>
  <strong>Name:</strong>
  <%= @book.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>

<p>
  <strong>Available quantity:</strong>
  <%= @book.available_quantity %>
</p>

<p>
  <strong>Category:</strong>
  <%= @book.category_id %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author_id %>
</p>

<p>
  <strong>Publisher:</strong>
  <%= @book.publisher_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
