<p id="notice"><%= notice %></p>

<h1>Categorias</h1>

<div class="container">
  <p></p>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Nome</th>
      
       
      </tr>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to(category) do %><strong>Ver livros</strong><% end %></td>
        <td><%= link_to(edit_category_path(category)) do %><strong>Editar</strong><% end %></td>
        <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
    
</div>




<div class="container">
  

  <button type="button" class="btn btn-primary btn-lg">
    <%= link_to 'Adicionar categoria', new_category_path %>
    </button>
  
</div>
  
  <br>
  
  