<!DOCTYPE html>
<html>
  <head>
    <title>Projeto</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      
    <%= yield %>
    <% if logged_in? %>
        <%= link_to 'Logout', logout_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% else %>
        <%= link_to 'Login', login_path, method: :get %>
    <% end %>
  </body>
</html>
